.example-card {
    width: 200px;
    height: 300px;
    background-color: #F5F5F5;
    border: solid black 1px;
    border-radius: 15px;
    margin-top: 28px;
    box-shadow: 6px 13px 28px 1px #363636;
    text-align: center
}

.btn {
    margin-top: 18px;
    border: solid 1px;
    width: -69px;
    width: 200px;
}

.mat-card-header {
    justify-content: center;
}

.mat-card-subtitle {
    font-size: 40px;
}

.mat-form-field {
    margin-right: 8px;
}