<div class="wrapper">
    <app-cards titulo="Basic" subtitulo="$19,00" conteudo1='500 GB Storage' conteudo2='2 Users Allowed' conteudo3='Send up to 3 GB'>
    </app-cards>
    <app-cards titulo="Professional" subtitulo="$24,99" conteudo1=' 1 TB Storage ' conteudo2='5 Users Allowed ' conteudo3='Send up to 10 GB ' bg="#6959CD">
    </app-cards>
    <app-cards titulo="Master" subtitulo="$39,99" conteudo1='2 TB Storage ' conteudo2='10 Users Allowed ' conteudo3='Send up to 20 GB '>
        ></app-cards>


</div>